<br />
<div class="container">

    <div class="row">
        <h3>Booking Enquiries</h3>
        <h4>Email</h4>
        <p><a href="mailto:aaa@bbb.com?Subject=House for rent enquiry">aaa@bbb.com</a></p>
        <p class="text-muted">Please allow up to 48 hours for a reply</p>
        <h4>Telephone</h4>
        <p>+44 1234 567890</p>
    </div>
    <hr />
    <div class="row bg-danger">
        <div class="col-sm-12">
            <h3>In an emergency</h3>
            <p>In case of the property requiring emergency attention please contact Jean-Paul on 0756 93847</p>
        </div>
    </div>




</div>

